<!-- topnav.ejs -->
<nav>
    <a href="/">Home</a>&nbsp;|&nbsp;
    <a href="/list">Users</a>&nbsp;|&nbsp;
    <a href="/product.ejs">Products</a>&nbsp;|&nbsp; 
    <a href="/order.ejs">Orders</a> 
  </nav>
  